@import 'fonts';
@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F2F2F2;
  font-family: 'TT Lakes';
}

.wrap {
  margin: 0 auto;
  min-width: 320px;
}

//---------------------------------
// header class="nav-buttons"
// Main display  
.nav-buttons {
  &__wrap {
    background-color: #fff;
  }

  &__list {
    display: flex;
    padding: 24px 16px 24px 16px;
    justify-content: space-between;

    &-logo {
      align-items: center;
      display: flex;
      gap: 16px;

      &-logo--icon {
        margin-right: 16px;
      }

      &-logo--icon::before {
        content: "";
        display: inline-block;
        min-width: 2px;
        min-height: 32px;
        border-radius: 1px;
        background-color: #EAEAEA;
        margin-right: 16px;
        margin-bottom: 9px;
        display: none;
      }
    }

    &-item {
      min-width: 40px;
      min-height: 40px;
      padding-top: 4px;
      background-color: $main-color;
      border-radius: 50%;
      border: 1px solid transparent;
      cursor: pointer;
      transition: all 0.4s;
    }

    &-item svg {
      transition: all 0.4s;
    }


    &-item:hover {
      box-shadow: 0px 0px 0px 3px rgba(240, 0, 127, 0.2);
      background-color: #fff;
      border: 1px solid $main-color;
    }

    &-item:focus {
      box-shadow: 0px 0px 0px 3px rgba(240, 0, 127, 0.2);
      background-color: #fff;
      border: 1px solid $main-color;
    }

    &-item:active svg {
      transform: scale(1.2);

    }

    &-desc {
      display: none;
    }

  }

  &__list-btns {
    display: flex;
    align-items: center;
    // justify-content: center;
    gap: 16px;
    position: relative;
  }

  &__list-btns::before {
    content: "";
    display: inline-block;
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background-color: #EAEAEA;
    right: 111px;
    position: absolute;
  }

  &__burger-btn:hover svg {
    fill: $main-color;
  }

  &__burger-btn:focus svg {
    fill: $main-color;
  }

  &__phone-btn {
    fill: $main-color;
    display: none;
  }

  &__phone-btn:hover svg {
    fill: $main-color;
  }

  &__phone-btn:focus svg {
    fill: $main-color;
  }

  &__message-btn {
    display: none;
  }

  &__message-btn:hover svg {
    fill: $main-color;
  }

  &__message-btn:focus svg {
    fill: $main-color;
  }

  &__user-btn {
    display: none;
    margin-right: 16px;
  }

  &__user-btn:hover svg {
    fill: $main-color;
  }

  &__user-btn:focus svg {
    fill: $main-color;
  }

  &__tools-btn:hover svg {
    fill: $main-color;
  }

  &__tools-btn:focus svg {
    fill: $main-color;
  }

  &__search-btn:hover svg {
    fill: $main-color;
  }

  &__search-btn:focus svg {
    fill: $main-color;
  }



  &__title--hidden {
    display: none;
  }
}

// --------------------------------
//header class="nav__links"
// Main display
.nav-links {
  &__wrap {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    padding-top: 24px;
    background-color: #F8F8F8;
  }

  &__title {
    font-size: 28px;
    line-height: 40px;
    font-weight: bold;
    margin-left: 16px;
    // justify-content: start;
  }

  &__wrap::after {
    content: "";
    display: inline-block;
    min-height: 40px;
    min-width: 4px;
    border-radius: 5px;
    background-color: #41F6D7;
    margin-left: -2px;
    position: absolute;
  }

  &__main {
    padding-left: 16px;
    overflow-x: scroll;
  }

  &__main-list {
    padding-top: 24px;
    list-style-type: none;
    display: flex;
  }

  &__item {
    font-size: 16px;
    line-height: 24px;
    color: #7E7E82;
    padding: 8px 16px 8px 16px;
    min-height: 40px;
    flex-shrink: 0;
    border: 2px solid transparent;
    border-radius: 6px;
    transition: all 0.2s;
    cursor: pointer;
  }

  &__item:hover {
    background-color: #fff;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
  }

  &__item:focus {
    background-color: #fff;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
  }

  &__item:active {
    background-color: #fff;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    color: #B8FFEC;
  }
}

//---------------------------------
// class="feedback"
//Main display
.feedback {
  &__main-title {
    display: none;
  }

  &__wrap {
    background-image: url("../img/main_company-title-large.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 170px;
    min-height: 780px;
    background-color: #F8F8F8;
  }

  &__desc-text {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
    padding: 24px 16px 16px 16px;

    &--added-part-2 {
      display: none;
    }

    &--added-part-3 {
      display: none;
    }
  }

  &__btn-wrap {
    display: flex;
    gap: 8px;
  }

  &__button {
    padding-left: 16px;
    border: none;
    cursor: pointer;
    background-color: #F8F8F8;
  }

  &__btn-text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
  }

}

//---------------------------------
// Display min-width:768px
@media (min-width:768px) {
  .wrap {
    max-width: 766px;
  }

  .nav-buttons {
    &__list {

      &-logo--icon::before {
        content: "";
        display: inline-block;
        min-width: 2px;
        min-height: 32px;
        border-radius: 1px;
        background-color: #EAEAEA;
        margin-right: 16px;
        margin-bottom: 9px;
      }
    }

    &__phone-btn,
    &__message-btn,
    &__user-btn {
      display: block;
    }
  }

  //-------------------------------------
  .feedback {
    &__wrap {
      background-position: 390px 32px;
      background-size: 360px 208px;
      padding: 32px 16px 25px 16px;
    }

    &__info {
      max-width: 338px;
      padding-right: 25px;
    }

    &__desc-text {
      padding: 0;

      &--added-part-2 {
        padding-top: 16px;
        padding-bottom: 10px;
        display: block;
      }
    }
  }
}

// --------------------------------------
// Display min-width:1120px

@media (min-width:1120px) {
  .wrap {
    max-width: 1118px;
  }

  .nav-buttons {
    &__wrap {
      background-color: #F8F8F8;
    }

    &__list {
      justify-content: space-between;
    }

    &__list::after {
      content: "";
      display: inline-block;
      min-height: 40px;
      min-width: 4px;
      border-radius: 5px;
      background-color: #41F6D7;
      margin-left: -16px;
      position: absolute;
    }

    &__list-btns::before {
      display: none;
    }

    &__list-desc {
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      display: block;
    }

    &__list-logo,
    &__phone-btn,
    &__message-btn,
    &__user-btn {
      display: none;
    }

    &__title--hidden {
      padding-left: 22px;
      display: block;
    }

  }


  //-----------------------------------------
  .nav-links {
    &__wrap {
      padding: 0;
    }

    &__wrap::after {
      display: none;
    }

    &__title--hidden {
      display: none;
    }

    &__main {
      padding-left: 49px;
      overflow-x: hidden;
    }

    &__main-list {
      padding-top: 0px;
    }
  }

  //-----------------------------------------
  .feedback {
    &__main-title {
      background-color: #F8F8F8;
      padding: 14px 0px 0px 69px;
      font-weight: normal;
      display: block;
    }

    &__wrap {
      background-size: 532px 307px;
      background-position: 570px 16px;
      padding: 24px 16px 25px 16px;
    }

    &__info {
      padding-left: 34px;
      max-width: 490px;
      max-height: 160px;
    }

    &__desc--text--added-part-3 {
      display: contents;
    }
  }

}